.ServiceWrapper {
  position: relative;
  width: 100%;
  height: 800px;
  overflow: hidden;
}

.cardBg {
  background: rgba(255, 255, 255, 0.49);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15.8px);
  -webkit-backdrop-filter: blur(15.8px);
  z-index: 99;
}

.circleStyle {
  position: absolute;
  z-index: 0;
  filter: blur(30px);
  border-radius: 100%;
}