.HeadingWrapper {
  width: 100%;
  height: 600px;
  position: relative;
}

.OutcomesWrapper {
  width: 100%;
  height: 800px;
  position: relative;
}

.svgStyle {
  position: absolute;
  right: 0px;
  top: -10px;
  z-index: 10;
  display: block;
}

.ReasonWrapper {
  width: 100%;
  height: 1200px;
  position: relative;
}

.ReasonCardBg {
  background: rgba(255, 255, 255, 0.49);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15.8px);
  -webkit-backdrop-filter: blur(15.8px);
}

.ReasonAnimation:hover{
  transition: all 0.6s ease 0s;
}

.ReasonAnimation:hover{
  transform: scale(1.1);
}

.FAQWrapper{
  width: 100%;
  position: relative;
}

.ackownledgeCard {
  border-radius: 15px;
  width: 80%;
  color:white;
}

.workingImg {
  position: absolute;
  right: 3%;
  bottom: -230px;
  transform: scaleX(-1);
}

.TeamWrapper {
  width: 100%;
  height: 1000px;
  position: relative;
}

.avatarWrapper {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin: 10px auto;
}

.plusIcon {
  position: absolute;
  bottom: 20px;
  right: 5px;
}

.TeamAfterExpand {
  display: none;
}

.TeamBeforeExpand {
  display: block;
}

.memberCard {
  transition: all 0.6s;
}
