
.skewed_container {
  -webkit-transform: skewY(6deg);
  -moz-transform: skewY(6deg);
  -ms-transform: skewY(6deg);
  -o-transform: skewY(6deg);
  transform: skewY(6deg);
  width: 100%;
}

.content_wrapper {
  width: 100%;
  -webkit-transform: skewY(-6deg);
  -moz-transform: skewY(-6deg);
  -ms-transform: skewY(-6deg);
  -o-transform: skewY(-6deg);
  transform: skewY(-6deg);
}

.fingeringBefore {
  transform: rotate(-15deg);
  -webkit-transform: rotate(-15deg);
  margin-bottom: -170px;
  margin-left: -35px;
}

.displayTitle {
    font-family: Inika, serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0;
    text-align: left;
}

.displayTitle2 {
    font-family: Inika, serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0;
    text-align: left;
}

.displaySubtitle {
    font-family: Inika, serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0;
    text-align: left;
}

.displayText {
    font-size: 17px;
    line-height: 35px;
    letter-spacing: 0;
    text-align: left;
}