@import url('https://fonts.googleapis.com/css2?family=Arima:wght@600&family=Baloo+Tammudu+2:wght@500&family=Inder&family=Inika:wght@700&family=Lemonada&family=Roboto+Slab&family=Salsa&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


